body {
    color: #333;
    font-family: "Lucida Sans Unicode",sans-serif,serif;
    font-size: 13px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

table {border: 1px solid grey;}

h3 {
    font-weight: bold;
    font-size: 16px;
    vertical-align: central;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 15px;
    padding: 5px 10px 5px;
    border-color: #e7eaec;
    border-style: none none solid none;
    border-width: 0 0 1px 0;
    background-color: #f3f6fb;
    color: #676A6C;
}
p{
    line-height: 2;
    padding: 0 5px;
    margin: 0;
}
p > span {
    color: #7d2779;
    font-weight: bold;
}

th {
  border: 1px solid grey;
}
td {
  padding: 0 5px;
  border: 1px solid grey;
}
